// Colors

$white: #fff;
$black: #242424;
$lightBlack: #2D364E;
$gray: #5A5A5A;
$light:#F2EBEB;
$darkBlue: #163F89;
$primary: #1D73F8;
$secoundry:#FF9100;


// Font variation
$regular:    "Montserrat";